form.form-horizontal#learnNew(method='get')
  fieldset
    // Form Name
    legend
    // Text input
    .form-group
      label.col-md-4.control-label(for='languageFrom') From Language
      .col-md-4
        input#languageFrom.form-control.input-md(name='languageFrom', type='text', placeholder='English', required='', value='english')
    // Text input
    .form-group
      label.col-md-4.control-label(for='original') Original
      .col-md-4
        input#original.form-control.input-md(name='original', type='text', placeholder='', required='')
    // Text input
    .form-group
      label.col-md-4.control-label(for='translation') Translation
      .col-md-4
        input#translation.form-control.input-md(name='translation', type='text', placeholder='', required='')
    // Text input
    .form-group
      label.col-md-4.control-label(for='languageTo') To Language
      .col-md-4
        input#languageTo.form-control.input-md(name='languageTo', type='text', placeholder='', required='')
    // Text input
    .form-group
      label.col-md-4.control-label(for='phonetic') Phonetic
      .col-md-4
        input#phonetic.form-control.input-md(name='phonetic', type='text', placeholder='', required='')
    // Button
    .form-group
      label.col-md-4.control-label(for='submit')
      .col-md-4
        button#submit.btn.btn-primary(name='submit') Add New
        
script.
  add_translation();