.container
  #card.card.col5-md
    .front.alert.alert-info
      h1#translation.text-center
    .back.well.well-lg
      h1#original.text-center

  br
  a(href="javascript:location.reload(true)") Next
  
  script.
    random_translation();